 
      <app-header></app-header>
      
      <div  dir="rtl" >
        <div >
          <app-counter-bar></app-counter-bar>
          <app-filter-bar (filterChange)="onFilterChange($event)"></app-filter-bar>
        </div>
        <div class="main-content-2col">
          <div class="pdf-side" *ngIf="selectedInvoice">
            <app-pdf-viewer  [pdfId]="selectedInvoice.id"
  [title]="selectedInvoice.title"></app-pdf-viewer>
          </div>
          <div class="table-side" [style.flex]="selectedInvoice ? '2' : '1'">
            <app-invoice-table
              [invoices]="invoices"
              [selectedId]="selectedInvoice"
              (rowSelect)="onRowSelect($event)">
            </app-invoice-table>
          </div>
          
        </div>
      </div>
    